@import "tailwindcss";

/* ==========================================
   BASE ROOT (optional future branding setup)
========================================== */
:root {
  --font-larken: "larken", serif;
  --font-early-sans: "early-sans-variable", sans-serif;
  --color-brand: #F2EBE2;
  --color-body: #1E2E31;
  --color-dark: #222;
  --color-white: #FFFFFF;
}
body {
  font-family: var(--font-early-sans);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-brand);
  color: var(--color-body);
}
.ff-larken {
  font-family: var(--font-larken) !important;
}
.larken-thin{
  font-family: var(--font-larken) !important;
  font-weight: 200;
}

.fs-24 {
  font-size: 24px !important;
}
/* Global heading tags default */
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-early-sans) !important;
  font-weight: 400;
  line-height: 1.3;
}

/* Global container */
.web-width {
  max-width: 1408px;
  margin-left: auto;
  margin-right: auto;
}

.web-width-sm {
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
}

/* ==========================================
   HERO HEADING (heading-xl)
   Mobile-first → larger breakpoints added
========================================== */

.heading-xl,
.heading-xl h1,
.heading-xl p {
  
}

.heading-xl p i,
.heading-xl p em,
.heading-xl h1 em {

}

/* Large Desktop */
@media (min-width: 1280px) {
  
}

/* ==========================================
   BODY TEXT
========================================== */
.body-text {
  font-family: var(--font-early-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-body);
}
/* Hero variation (white text) */
.hero .body-text {
  color: #fff;
  font-size: 18px;
}